In [6]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

print(df.columns)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [7]:
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace(r'\bst\b', 'state', regex=True)

print(df.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [9]:
df['gender'] = df['gender'].str.strip().str.lower().map({
    'female': 'F', 'f': 'F', 'femal': 'F',
    'male': 'M', 'm': 'M'
})

state_map = {
    'AZ': 'Arizona',
    'Cali': 'California',
    'WA': 'Washington'
}
df['state'] = df['state'].replace(state_map)

df['education'] = df['education'].replace({'Bachelors': 'Bachelor'})

df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(str).str.replace('%', '')
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')

df['vehicle_class'] = df['vehicle_class'].replace({
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
})

print(df[['gender', 'state', 'education', 'customer_lifetime_value', 'vehicle_class']].head())

  gender       state             education  customer_lifetime_value  \
0    NaN  Washington                Master                      NaN
1      F     Arizona              Bachelor                697953.59
2      F      Nevada              Bachelor               1288743.17
3      M  California              Bachelor                764586.18
4      M  Washington  High School or Below                536307.65

   vehicle_class
0  Four-Door Car
1  Four-Door Car
2   Two-Door Car
3            SUV
4  Four-Door Car

In [10]:
print("Unique complaints format values:", df['number_of_open_complaints'].unique())

def extract_middle_number(val):
    if isinstance(val, str) and '/' in val:
        parts = val.split('/')
        if len(parts) >= 2 and parts[1].isdigit():
            return int(parts[1])
    try:
        return int(val)  
    except:
        return None

df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(extract_middle_number)

df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')

print(df[['customer_lifetime_value', 'number_of_open_complaints']].head())
print(df.dtypes)

Unique complaints format values: ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
   customer_lifetime_value  number_of_open_complaints
0                      NaN                        0.0
1                697953.59                        0.0
2               1288743.17                        0.0
3                764586.18                        0.0
4                536307.65                        0.0
customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [12]:
def extract_middle_number(val):
    if isinstance(val, str) and '/' in val:
        parts = val.split('/')
        if len(parts) >= 2 and parts[1].isdigit():
            return int(parts[1])
    try:
        return int(val)
    except:
        return None

df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(extract_middle_number)
df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')

# Step 1: Identify columns with null values
null_counts = df.isnull().sum()
print("Null values per column:\n", null_counts[null_counts > 0])

# Step 2 & 3: Handle nulls
for col in df.columns:
    if df[col].isnull().sum() > 0:
        if df[col].dtype in ['float64', 'int64']:
            median_value = df[col].median()
            df[col].fillna(median_value, inplace=True)
        else:
            mode_value = df[col].mode()[0]
            df[col].fillna(mode_value, inplace=True)

# Step 4: Confirm no null values remain
print("\nRemaining null values:\n", df.isnull().sum().sum())

# Step 5: Convert all numeric variables to integers
for col in df.select_dtypes(include='number').columns:
    df[col] = df[col].astype(int)

# Confirm data types (optional)
print("\nData types after conversion:\n", df.dtypes)

Null values per column:
 Series([], dtype: int64)

Remaining null values:
 0

Data types after conversion:
 customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       int32
income                        int32
monthly_premium_auto          int32
number_of_open_complaints     int32
policy_type                  object
vehicle_class                object
total_claim_amount            int32
dtype: object

In [14]:
df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(
    lambda x: int(x.split('/')[1]) if isinstance(x, str) and '/' in x else pd.to_numeric(x, errors='coerce')
)
df.fillna(df.median(numeric_only=True), inplace=True)
df.fillna(df.mode().iloc[0], inplace=True)
for col in df.select_dtypes(include='number').columns:
    df[col] = df[col].astype(int)


duplicate_rows = df.duplicated()
print(f"\nNumber of duplicate rows: {duplicate_rows.sum()}")

df = df.drop_duplicates(keep='first').reset_index(drop=True)

print(f"Remaining duplicate rows after cleanup: {df.duplicated().sum()}")

df.to_csv("cleaned_insurance_data.csv", index=False)
print("\nCleaned dataset saved as 'cleaned_insurance_data.csv'")

Number of duplicate rows: 0
Remaining duplicate rows after cleanup: 0

Cleaned dataset saved as 'cleaned_insurance_data.csv'